version: "3.8"

services:
  front:
    build: ./frontend/
    restart: always
    environment:
      TZ: Asia/Seoul
    ports:
      - "3000:3000"
    networks:
      - default
  back:
    build: ./back/
    restart: always
    environment:
      TZ: Asia/Seoul
    ports:
      - "8000:8000"
    depends_on:
      - db
    networks:
      - default
  db:
    image: mysql:8
    platform: linux/x86_64
    restart: always
    environment:
      TZ: Asia/Seoul
    env_file: ./docker/db/.env
    volumes:
      - ./docker/db/conf.d:/etc/mysql/conf.d
      - ./docker/db/data:/var/lib/mysql
      - ./docker/db/initdb.d:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
    networks:
      - default
      
networks:
  - default